%div.row
  %div{ class: 'col-xl-8 offset-xl-2 center' }
    %a{ href: 'https://icons8.com/' }
      %img{ id: 'not-found', src: '/public/images/broken_robot_transparent.png' }
    %h1= "Invalid #{@param_key.capitalize} Parameter"
    %p= "Sorry, but the #{@param_key} parameter in your URL is invalid."
    %p
      Choose a valid one:
      = build_valid_list(@path, @list, @type, @param_key, @value).join(', ')
    %p
      %button{ onclick: "window.location.href = '/';", class: 'btn btn-primary rounded' }
        %i{class: 'fas fa-arrow-left' }
        &nbspBack to Home
